{% extends 'base.html.twig' %}

{% block title 'Mon Compte | ' ~ parent() %}

{% block body %}


<div class="example-wrapper">

    <h1>{{ title }}</h1>

    <p class="mt-4">Bienvenue<span> {{app.user.firstname}} </span>dans votre compte.</p>
    <hr> 
    - <a href="{{ path('account_password') }}">Modification du mot de passe</a><br /> 
    - <a href="{{ path('account_address') }}">Gérer mes adresses</a><br /> - <a href="{{ path('account_order') }}">Mes commandes</a>
    <hr>

</div>

<style>
    a:hover {
        color: #569A24;
    }
    hr {
        width: 400px;
    }
    span {
        color: #0b93e1;
    }
</style>
{% endblock %}