{% extends 'base.html.twig' %} 

{% block title %} Ma commande : {{ order.reference }} | DoDo Le Guide{% endblock %} 

{% block body %}


<h1>{{ title }} : {{ order.reference }}</h1>
<a href="{{ path('account_order') }}">Retour</a>
<hr> 
{{paragraphe}} {{ order.createdAt|date("d/m/Y H:i ", "Europe/Paris") }}<br /> 
{{paragraphe1}}<small>{{ order.reference }}</small><br /> 
{{paragraphe2}} {{ order.carriername }}
<hr> 
{{paragraphe3}}<br />

<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for product in order.orderDetails %}
        <tr>
            <td>{{product.product}}</td>
            <td>x{{product.quantity}}</td>
            <td>{{(product.price / 100)|number_format(2, ',', '.') }} €</td>
            <td>{{(product.total / 100)|number_format(2, ',', '.') }} €</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-right">
    {{paragraphe4}}{{(order.getTotal / 100)|number_format(2, ',', '.') }} €<br />
    {{paragraphe5}}{{(order.carrierprice / 100)|number_format(2, ',', '.') }} €<br /> 
    {{paragraphe6}}{{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',', '.') }} €
</div>

<style>
    h1 {
        margin-top: 300px;
    }
</style>
{% endblock %}