{% extends 'base.html.twig' %}

{% block title %} Ma commande: {{ order.reference }} | DoDo Le Guide{% endblock %}

{% block carousel %}<header></header>{% endblock %}

{% block body %}


<h1 class="mb-5">{{ title }} {{ order.reference }}</h1>

- <a href="{{ path('account_order') }}">Retour à mes commandes</a><br/>
<hr>
<strong>Statut de la commande : </strong>
{% if order.state == 1 %}
Paiment accepté
{% elseif order.state == 2 %}
Préparation en cours
{% elseif order.state == 3 %}
Livraison en cours
{% endif %}
<hr>
{{paragraphe}} {{ order.createdAt|date("d/m/Y à H:i ", "Europe/Paris") }}<br />
{{paragraphe1}}<small>{{ order.reference }}</small><br />
{{paragraphe2}} {{ order.carriername }}
<hr class="mb-4">
{{paragraphe3}}<br />

<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for product in order.orderDetails %}
        <tr>
            <td>{{product.product}}</td>
            <td>x{{product.quantity}}</td>
            <td>{{(product.price / 100)|number_format(2, ',', '.') }} €</td>
            <td>{{(product.total / 100)|number_format(2, ',', '.') }} €</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-right">
    {{paragraphe4}}{{(order.getTotal / 100)|number_format(2, ',', '.') }} €<br />
    {{paragraphe5}}{{(order.carrierprice / 100)|number_format(2, ',', '.') }} €<br />
    {{paragraphe6}}{{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',', '.') }} €
</div>

<style>
    h1 {
        margin-top: 450px;
        font-size: 45px;
    }
    a {
        color: #0b93e1;
    }
    a:hover {
        color: #569A24;
    }
</style>
{% endblock %}