{% extends 'base.html.twig' %}

{% block title 'Accueil | ' ~ parent() %}

{% block carousel %}<header></header>{% endblock %}

{% block body %}


<div class="example-wrapper">

    <h1 class="titre">{{title}}<br/><small id="titretraduction">{{titletraduction}}</small></h1>
    

    <section>
        <p class="espace"></p>
    </section>

    <article id="video">
        <iframe class="rounded" width="100%" height="300" src="{{video}}" frameborder="0"
            allow="accelerometer; autoplay; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </article>

    <section>
        <p class="espace1"></p>
    </section>


    <h5>{{intro1}}<span id="span1">DODO LE GUIDE</span>{{intro2}}</h5>
    <div class="d-flex justify-content-center">
        <img src="{{icones}}" id="vanille" />
    </div>
    <section>
        <p class="espace2"></p>
    </section>
    <h5>{{intro3}}<span id="span2">{{intro4}}</span>{{intro5}}<span id="span3">{{intro6}}</span>{{intro7}}</h5>
</div>

<container class="example-wrapper">
    <div class="row">
        <div class="col-md-4 col-12">
            <a href="{{ path('app_randonnée') }}">
                <img src="{{featurette1}}" class="img-thumbnail shadow" alt="..." style="height: 250px; width: 250px">
            </a>
            <section>
                <p class="espace5"></p>
            </section>
            <h2 id="h2rando">Randonnées</h2>
            <small class="para">
                De nombreuses Randonnées pour tous les niveaux.
            </small>
        </div>
        <div class="col-md-4 col-12">
            <a href="{{ path('app_activitésportive') }}">
                <img src="{{featurette2}}" class="img-thumbnail shadow" alt="..." style="height: 250px; width: 250px">
            </a>
            <section>
                <p class="espace5"></p>
            </section>
            <h2 id="h2activité">Activités Sportives</h2>
            <small class="para">
                Profitez de toutes les activités sportives disponibles sur l'île.
            </small>
        </div>
        <div class="col-md-4 col-12">
            <a href="{{ path('app_plage') }}">
                <img src="{{featurette3}}" class="img-thumbnail shadow" alt="..." style="height: 250px; width: 250px">
            </a>
            <section>
                <p class="espace5"></p>
            </section>
            <h2 id="h2visite">Plages</h2>
            <small class="para">
                Des plages magnifique pour pratiquer le farniente...
            </small>
        </div>
    </div>
</container>
<section>
    <p class="espace3"></p>
</section>
<container class="example-wrapper">
    <div class="row">
        <div class="col-md-4 col-12">
            <a href="{{ path('app_visite') }}">
                <img src="{{featurette4}}" class="img-thumbnail shadow" alt="..." style="height: 250px; width: 250px">
            </a>
            <section>
                <p class="espace5"></p>
            </section>
            <h2 id="h2rando">Visites</h2>
            <small class="para">
                Visitez certains lieux historiques de l'île, les marchés, les rhumeries...
            </small>
            <p>

            </p>
        </div>
        <div class="col-md-4 col-12">
            <a href="/plage">
                <img src="{{featurette5}}" class="img-thumbnail shadow" alt="..." style="height: 250px; width: 250px">
            </a>
            <section>
                <p class="espace5"></p>
            </section>
            <h2 id="h2activité">Plats</h2>
            <small class="para">
                Sur l'île on retrouve une multitude de plats les carry, rougails, sauté...
            </small>
        </div>
        <div class="col-md-4 col-12">
            <a href="/plage">
                <img src="{{featurette6}}" class="img-thumbnail shadow" alt="..." style="height: 250px; width: 250px">
            </a>
            <section>
                <p class="espace5"></p>
            </section>
            <h2 id="h2visite">Biodiversité</h2>
            <small class="para">
                L'île regorge de nombreuses variétés et d'espèces de faune et de flore...
            </small>
        </div>
    </div>
</container>

<section>
    <p class="espace4"></p>
</section>

<div class="d-flex justify-content-center">
    <img src="{{icones1}}" id="panneau" />
</div>

<div class="articles my-auto">
    <hr id="hr1">
    <h3 class="mt-3 mb-3 text-center">Découvrez les articles les plus vendus</h3>
    <hr id="hr2">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            {% include 'product/single_product.html.twig' %}
        </div>
        {% endfor %}
    </div>
</div>

<style>
    
    .titre {
        font-size: 45px;
    }

    #titretraduction {
        font-size: 25px;
    }

    .espace {
        height: 60px;
    }

    #span1 {
        color: #569A24;
    }

    #span2 {
        color: #0b93e1;
    }

    #span3 {
        color: #0b93e1;
    }

    #video {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .rounded {
        padding: .25rem !important;
        border: 2px solid #dee2e6 !important;
        border-radius: 255px 25px 225px 25px/25px 225px 25px 255px !important;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }

    .espace1 {
        height: 80px;
    }

    #vanille {
        width: 80px;
        height: 75px;
    }

    .espace2 {
        height: 5px;
    }

    .container {
        max-width: 1400px;
    }

    .img-thumbnail {
        width: 200px;
        height: 200px;
    }

    .img-thumbnail:hover {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }

    .img-thumbnail {
        -webkit-transition: all .5s cubic-bezier(.6, 2, .4, 1);
        -moz-transition: all .5s cubic-bezier(.6, 2, .4, 1);
        -ms-transition: all .5s cubic-bezier(.6, 2, .4, 1);
        -o-transition: all .5s cubic-bezier(.6, 2, .4, 1);
        transition: all .5s cubic-bezier(.6, 2, .4, 1);
    }

    .para {
        font-size: 16px;
    }

    .espace3 {
        height: 60px;
    }

    .espace4 {
        height: 100px;
    }

    .espace5 {
        height: 50px;
    }

    #panneau {
        width: 250px;
        height: 75px;
    }

    #hr1 {
        margin-top: 100px;
    }

    .articles {
        margin: 180px auto;
        max-width: 1000px;
        width: 100%;
        font: 18px/1.5;
        padding: 30px;
    }
</style>
{% endblock %}