{% extends 'base.html.twig' %} {% block title 'Randonnée | ' ~ parent() %} {% block body %}

<div class="example-wrapper">
    <h1>{{title}}</h1>
</div>


<section id="détail">
    <container class="example-wrapper">
        <div class="row">
            <div class="col-md-6 col-12">
                <h2>{{titlef1}}</h2>
                <img src="{{featurettes1}}" class="img-fluid img-thumbnail shadow">
                <p></p>
            </div>

            <div class="col-md-6 col-12">
                <h2>{{titlef2}}</h2>
                <img src="{{featurettes2}}" class="img-fluid img-thumbnail shadow">
            </div>
        </div>
    </container>
</section>
<container class="example-wrapper">
    <h2>{{titlef3}}</h2>
    <container class="d-flex justify-content-center">
        <img src="{{featurettes3}}" class="img-fluid img-thumbnail shadow">
    </container>
</container>
<section id="détail">
    <container class="example-wrapper">
        <div class="row">
            <div class="col-md-6 col-12">
                <h2>{{titlef4}}</h2>
                <img src="{{featurettes4}}" class="img-fluid img-thumbnail shadow">
                <p></p>
            </div>

            <div class="col-md-6 col-12">
                <h2>{{titlef5}}</h2>
                <img src="{{featurettes5}}" class="img-fluid img-thumbnail shadow">
            </div>
        </div>
    </container>
</section>
<container class="example-wrapper">
    <h2>{{titlef6}}</h2>
    <container class="d-flex justify-content-center">
        <img src="{{featurettes6}}" class="img-fluid img-thumbnail shadow">
    </container>
</container>
<section id="détail">
    <container class="example-wrapper">
        <div class="row">
            <div class="col-md-6 col-12">
                <h2>{{titlef7}}</h2>
                <img src="{{featurettes7}}" class="img-fluid img-thumbnail shadow">
                <p></p>
            </div>

            <div class="col-md-6 col-12">
                <h2>{{titlef8}}</h2>
                <img src="{{featurettes8}}" class="img-fluid img-thumbnail shadow">
            </div>
        </div>
    </container>
</section>
<container class="example-wrapper">
    <h2>{{titlef9}}</h2>
    <container class="d-flex justify-content-center">
        <img src="{{featurettes9}}" class="img-fluid img-thumbnail shadow">
    </container>
</container>



<style>
    .example-wrapper h1 {
        margin-top: 260px;
    }
    
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
    
    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">

</div>
{% endblock %}