{% extends 'base.html.twig' %} 

{% block title 'Randonnée | ' ~ parent() %} 

{% block body %}


<div class="example-wrapper">
    <h1>{{title}}</h1>
</div>
<section id="détail">
    <container class="example-wrapper">
        <div class="row">
            <div class="col-md-6 col-12">
                <h2>{{titlef1}}</h2>
                <section>
                    <p class="espace"></p>
                </section>
                <img src="{{featurettes1}}" class="img-fluid img-thumbnail shadow">
                <section id="info1">
                    <div class="menu1">
                        <div class="button1"><i class="fas fa-info"></i></div>
                        <div class="social1 twitter"><a href="#" target="_blank"><i class="fas fa-cloud-sun"></i></a>
                        </div>
                        <div class="social1 facebook"><a href="#" target="_blank"><i class="fas fa-hiking"></i></a>
                        </div>
                        <div class="social1 insta"><a href="#" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
                        </div>
                        <div class="social1 youtube"><a href="#" target="_blank"><i class="fas fa-hamburger"></i></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6 col-12">
                <h2>{{titlef2}}</h2>
                <section>
                    <p class="espace"></p>
                </section>
                <img src="{{featurettes2}}" class="img-fluid img-thumbnail shadow">
                <section id="info2">
                    <div class="menu2">
                        <div class="button2"><i class="fas fa-info"></i></div>
                        <div class="social2 twitter"><a href="#" target="_blank"><i class="fas fa-cloud-sun"></i></a>
                        </div>
                        <div class="social2 facebook"><a href="#" target="_blank"><i class="fas fa-hiking"></i></a>
                        </div>
                        <div class="social2 insta"><a href="#" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
                        </div>
                        <div class="social2 youtube"><a href="#" target="_blank"><i class="fas fa-hamburger"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </container>
</section>
<container class="example-wrapper">
    <h2>{{titlef3}}</h2>
    <section>
        <p class="espace"></p>
    </section>
    <container class="d-flex justify-content-center">
        <img src="{{featurettes3}}" class="img-fluid img-thumbnail shadow">
    </container>
</container>
<section id="info3">
    <div class="menu3">
        <div class="button3"><i class="fas fa-info"></i></div>
        <div class="social3 twitter"><a href="#" target="_blank"><i class="fas fa-cloud-sun"></i></a></div>
        <div class="social3 facebook"><a href="#" target="_blank"><i class="fas fa-hiking"></i></a></div>
        <div class="social3 insta"><a href="#" target="_blank"><i class="fas fa-map-marked-alt"></i></a></div>
        <div class="social3 youtube"><a href="#" target="_blank"><i class="fas fa-hamburger"></i></a></div>
    </div>
</section>
<section id="détail">
    <container class="example-wrapper">
        <div class="row">
            <div class="col-md-6 col-12">
                <h2>{{titlef4}}</h2>
                <section>
                    <p class="espace"></p>
                </section>
                <img src="{{featurettes4}}" class="img-fluid img-thumbnail shadow">
                <section id="info4">
                    <div class="menu4">
                        <div class="button4"><i class="fas fa-info"></i></div>
                        <div class="social4 twitter"><a href="#" target="_blank"><i class="fas fa-cloud-sun"></i></a>
                        </div>
                        <div class="social4 facebook"><a href="#" target="_blank"><i class="fas fa-hiking"></i></a>
                        </div>
                        <div class="social4 insta"><a href="#" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
                        </div>
                        <div class="social4 youtube"><a href="#" target="_blank"><i class="fas fa-hamburger"></i></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6 col-12">
                <h2>{{titlef5}}</h2>
                <section>
                    <p class="espace"></p>
                </section>
                <img src="{{featurettes5}}" class="img-fluid img-thumbnail shadow">
                <section id="info5">
                    <div class="menu5">
                        <div class="button5"><i class="fas fa-info"></i></div>
                        <div class="social5 twitter"><a href="#" target="_blank"><i class="fas fa-cloud-sun"></i></a>
                        </div>
                        <div class="social5 facebook"><a href="#" target="_blank"><i class="fas fa-hiking"></i></a>
                        </div>
                        <div class="social5 insta"><a href="#" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
                        </div>
                        <div class="social5 youtube"><a href="#" target="_blank"><i class="fas fa-hamburger"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </container>
</section>
<container class="example-wrapper">
    <h2>{{titlef6}}</h2>
    <section>
        <p class="espace"></p>
    </section>
    <container class="d-flex justify-content-center">
        <img src="{{featurettes6}}" class="img-fluid img-thumbnail shadow">
    </container>
</container>
<section id="info6">
    <div class="menu6">
        <div class="button6"><i class="fas fa-info"></i></div>
        <div class="social6 twitter"><a href="#" target="_blank"><i class="fas fa-cloud-sun"></i></a></div>
        <div class="social6 facebook"><a href="#" target="_blank"><i class="fas fa-hiking"></i></a></div>
        <div class="social6 insta"><a href="#" target="_blank"><i class="fas fa-map-marked-alt"></i></a></div>
        <div class="social6 youtube"><a href="#" target="_blank"><i class="fas fa-hamburger"></i></a></div>
    </div>
</section>
<section id="détail">
    <container class="example-wrapper">
        <div class="row">
            <div class="col-md-6 col-12">
                <h2>{{titlef7}}</h2>
                <section>
                    <p class="espace"></p>
                </section>
                <img src="{{featurettes7}}" class="img-fluid img-thumbnail shadow">
                <section id="info7">
                    <div class="menu7">
                        <div class="button7"><i class="fas fa-info"></i></div>
                        <div class="social7 twitter"><a href="#" target="_blank"><i class="fas fa-cloud-sun"></i></a>
                        </div>
                        <div class="social7 facebook"><a href="#" target="_blank"><i class="fas fa-hiking"></i></a>
                        </div>
                        <div class="social7 insta"><a href="#" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
                        </div>
                        <div class="social7 youtube"><a href="#" target="_blank"><i class="fas fa-hamburger"></i></a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6 col-12">
                <h2>{{titlef8}}</h2>
                <section>
                    <p class="espace"></p>
                </section>
                <img src="{{featurettes8}}" class="img-fluid img-thumbnail shadow">
                <section id="info8">
                    <div class="menu8">
                        <div class="button8"><i class="fas fa-info"></i></div>
                        <div class="social8 twitter"><a href="#" target="_blank"><i class="fas fa-cloud-sun"></i></a>
                        </div>
                        <div class="social8 facebook"><a href="#" target="_blank"><i class="fas fa-hiking"></i></a>
                        </div>
                        <div class="social8 insta"><a href="#" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
                        </div>
                        <div class="social8 youtube"><a href="#" target="_blank"><i class="fas fa-hamburger"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </container>
</section>
<container class="example-wrapper">
    <h2>{{titlef9}}</h2>
    <section>
        <p class="espace"></p>
    </section>
    <container class="d-flex justify-content-center">
        <img src="{{featurettes9}}" class="img-fluid img-thumbnail shadow">
    </container>
</container>
<section id="info9">
    <div class="menu9">
        <div class="button9"><i class="fas fa-info"></i></div>
        <div class="social9 twitter"><a href="#" target="_blank"><i class="fas fa-cloud-sun"></i></a></div>
        <div class="social9 facebook"><a href="#" target="_blank"><i class="fas fa-hiking"></i></a></div>
        <div class="social9 insta"><a href="#" target="_blank"><i class="fas fa-map-marked-alt"></i></a></div>
        <div class="social9 youtube"><a href="#" target="_blank"><i class="fas fa-hamburger"></i></a></div>
    </div>
</section>



<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -9" result="goo" />
            <feBlend in="SourceGraphic" in2="goo" />
        </filter>
    </defs>
</svg>



<style>
    .espace {
        height: 20px;
    }

    .example-wrapper h1 {
        margin-top: 300px;
    }

    .menu1,
    .menu2,
    .menu3,
    .menu4,
    .menu5,
    .menu6,
    .menu7,
    .menu8,
    .menu9 {
        margin-top: -68px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 17vh;
        filter: url("#goo");
    }

    .button1,
    .button2,
    .button3,
    .button4,
    .button5,
    .button6,
    .button7,
    .button8,
    .button9 {
        z-index: 99;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 35px;
        background: linear-gradient(45deg, #569A24, #0b93e1);
        border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        color: #FFF;
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 200;
    }

    .social1,
    .social2,
    .social3,
    .social4,
    .social5,
    .social6,
    .social7,
    .social8,
    .social9 {
        opacity: 0;
        position: relative;
        margin: 8px;
        width: 40px;
        height: 40px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        border-radius: 100%;
        display: inline-block;
        color: #FFF;
        font-size: 20px;
        text-align: center;
    }

    .social1 i,
    .social2 i,
    .social3 i,
    .social4 i,
    .social5 i,
    .social6 i,
    .social7 i,
    .social8 i,
    .social9 i {
        margin-top: 10px;
    }

    .social1 a,
    .social2 a,
    .social3 a,
    .social4 a,
    .social5 a,
    .social6 a,
    .social7 a,
    .social8 a,
    .social9 a {
        color: #FFF;
    }

    .twitter {
        background: #569A24;
    }

    .facebook {
        background: linear-gradient(45deg, #569A24, #0b93e1);
    }

    .insta {
        background: linear-gradient(45deg, #0b93e1, #569A24);
    }

    .youtube {
        background: #0b93e1;
    }

    .clicked {
        opacity: 1;
        transition: 1.2s all ease;
        transform: translateY(56px);
    }

    #info1 {
        margin-top: 8px;
    }

    #info2 {
        margin-top: 8px;
    }

    #info3 {
        margin-top: 7px;
    }

    #info4 {
        margin-top: 8px;
    }

    #info5 {
        margin-top: 8px;
    }

    #info6 {
        margin-top: 7px;
    }

    #info7 {
        margin-top: 8px;
    }

    #info8 {
        margin-top: 8px;
    }

    #info9 {
        margin-top: 8px;
    }
</style>
<script>
    $(".button1").click(function () {
        $(".social1.twitter").toggleClass("clicked");
        $(".social1.facebook").toggleClass("clicked");
        $(".social1.insta").toggleClass("clicked");
        $(".social1.youtube").toggleClass("clicked");
    })

    $(".button2").click(function () {
        $(".social2.twitter").toggleClass("clicked");
        $(".social2.facebook").toggleClass("clicked");
        $(".social2.insta").toggleClass("clicked");
        $(".social2.youtube").toggleClass("clicked");
    })

    $(".button3").click(function () {
        $(".social3.twitter").toggleClass("clicked");
        $(".social3.facebook").toggleClass("clicked");
        $(".social3.insta").toggleClass("clicked");
        $(".social3.youtube").toggleClass("clicked");
    })

    $(".button4").click(function () {
        $(".social4.twitter").toggleClass("clicked");
        $(".social4.facebook").toggleClass("clicked");
        $(".social4.insta").toggleClass("clicked");
        $(".social4.youtube").toggleClass("clicked");
    })

    $(".button5").click(function () {
        $(".social5.twitter").toggleClass("clicked");
        $(".social5.facebook").toggleClass("clicked");
        $(".social5.insta").toggleClass("clicked");
        $(".social5.youtube").toggleClass("clicked");
    })

    $(".button6").click(function () {
        $(".social6.twitter").toggleClass("clicked");
        $(".social6.facebook").toggleClass("clicked");
        $(".social6.insta").toggleClass("clicked");
        $(".social6.youtube").toggleClass("clicked");
    })

    $(".button7").click(function () {
        $(".social7.twitter").toggleClass("clicked");
        $(".social7.facebook").toggleClass("clicked");
        $(".social7.insta").toggleClass("clicked");
        $(".social7.youtube").toggleClass("clicked");
    })

    $(".button8").click(function () {
        $(".social8.twitter").toggleClass("clicked");
        $(".social8.facebook").toggleClass("clicked");
        $(".social8.insta").toggleClass("clicked");
        $(".social8.youtube").toggleClass("clicked");
    })

    $(".button9").click(function () {
        $(".social9.twitter").toggleClass("clicked");
        $(".social9.facebook").toggleClass("clicked");
        $(".social9.insta").toggleClass("clicked");
        $(".social9.youtube").toggleClass("clicked");
    })
</script>
{% endblock %}